@import "../../variables.css";

@mixin play-pause-buttons {
  width: 50px;
  height: 50px;
  border:1px solid var(--controls);
  border-radius:0;
  background-repeat: no-repeat;
  transition: var(--transition);

  background-size: 100% 100%;

  cursor:pointer;
}

@mixin prev-next {
  height: 25px;
  width:25px;
  background-size:100% 100%;
  cursor: pointer;
  border: none;
  transition: var(--transition);
}

@mixin volume {
  height: 25px;
  width: 25px;
  cursor: pointer;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  transition: var(--transition);
}

.ControlButton {
  background-color: transparent;

  &[disabled] {
    cursor: not-allowed !important;
  }

  &:active {
    transform: scale(.9,.9);
  }

  &.play{
    @include play-pause-buttons;
    background-image: url('../../legacy/img/play.png');

    &:hover:not([disabled]) {
      border-radius:50%;
    }
  }


  &.pause{
    @include play-pause-buttons;
    background-image: url("../../legacy/img/pause.png");
    border-radius:50%;
  }


  &.next{
    @include prev-next;
    background-image: url("../../legacy/img/next.png");
  }
  &.prev{
    @include prev-next;
    background-image: url("../../legacy/img/prev.png");
  }

  &.volumeOn{
    @include volume;
    background-image: url('../../legacy/img/volume_b.png');
  }
  &.volumeOff{
    @include volume;
    background-image: url('../../legacy/img/volume_bn.png');
  }
}