@import "../../variables.css";

.Button {
  color: var(--controls);
  border: 1px solid var(--controls);
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  padding: 0 15px;
  font-size: 14px;
  font-weight: inherit;
  transition: var(--transition);

  &:active {
   transform: scale(.9,.9);
  }

  &.Button-link {
    border: none;
  }
}