@import "../variables.css";
@import "../mixins";

@mixin play-pause-buttons {
  @include transition;
  width: 50px;
  height: 50px;
  border:1px solid var(--controls);
  border-radius:0;
  background-repeat: no-repeat;

  background-size: 100% 100%;

  cursor:pointer;
}

@mixin prev-next {
  @include transition;
  height: 25px;
  width:25px;
  background-size:100% 100%;
  cursor: pointer;
  border: none;
}

@mixin volume {
  @include transition;
  height: 25px;
  width: 25px;
  cursor: pointer;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
}

.ControlButton {
  background-color: transparent;
  &:active {
    transform: scale(.9,.9);
  }

  &.play{
    @include play-pause-buttons;
    background-image: url('../legacy/img/play.png');

    &:hover {
      border-radius:50%;
    }
  }


  &.pause{
    @include play-pause-buttons;
    background-image: url("../legacy/img/pause.png");
    border-radius:50%;
  }


  &.next{
    @include prev-next;
    background-image: url("../legacy/img/next.png");
  }
  &.prev{
    @include prev-next;
    background-image: url("../legacy/img/prev.png");
  }

  &.volumeOn{
    @include volume;
    background-image: url('../legacy/img/volume_b.png');
  }
  &.volumeOff{
    @include volume;
    background-image: url('../legacy/img/volume_bn.png');
  }
}