.DiscoveryCard {
  margin-bottom: 30px;

  &__listContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__children {
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__codeExample {
      width: 750px;

      &--dark {
        opacity: 1;
      }
      &--light {
        opacity: .7;
      }
    }
  }
}