.DiscoverySection {
  margin-bottom: 30px;

  &__sectionName {
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  &__description {
    padding-bottom: 30px;
  }
}