@import '../variables.css';

.StreamsList {
  max-height: 400px;
  overflow: auto;
  transition: max-height 0.5s ease-in;

  &--collapsed{
    max-height: 0;
    transition: max-height 0.5s ease-out,
    overflow 0.5s ease-out;
    overflow: hidden;
  }

  &__listContainer {
    list-style: none;
    padding-top: 5px;
    padding-left: 0;
    height: 100%;

    .listContainer__streamLink{
      text-decoration: none;
      text-underline-offset: 5px;
      color: inherit;
      padding-left: 5px;

      &:hover {
        text-decoration: underline;
        color: var(--controls);
      }

      &--active {
        text-decoration: underline;
        color: var(--controls);
      }
    }
  }
}